<h4>Add New Practice</h4>

<%= form_tag "/practices" do %>

  <p>
    <%= label_tag "name" %>
    <%= text_field_tag "name" %>
  </p>

  <p>
    <%= label_tag "location (Please use the following format: Chicago, IL 60640)" %>
    <%= text_field_tag "location" %>
  </p>

  <p>
      <%= submit_tag "Submit", class: 'button' %>
  </p>

<% end %>
