	<%if session["user_id"].present?%>
		<% if User.find_by(id: session["user_id"].present?)%>
			<% if User.find_by(id: session["user_id"]).admin == 't'%>
				<div class="row">
				<div class= "col-sm-12">
				<h4><%= link_to "Add New Doctor", "/doctors/new"%></h4>
				</div>
				</div>
		<% end %>
	<% end %>
	<% end %>

	<% @doctors.each do |doctor| %>

	<div class="row">
		<div class= "col-md-4">
		<%=image_tag "#{doctor.profile_img_url}", class: "img-responsive img-center" %>
	</div>
	<div class="col-md-8">
		<h3><%= link_to doctor.first_name + " " + doctor.last_name, "/doctors/#{doctor.id}" %></h3>
		<h3><%= doctor.specialty.name %></h3>
		<h3><%= doctor.practice.location %></h3>
		<br>
		<% if User.find_by(id: session["user_id"].present?)%>
		<%if session["user_id"].present?%>
		<% if User.find_by(id: session["user_id"]).admin == 't'%>
		<h4><%= link_to "Delete", "/doctors/#{doctor.id}", method: 'delete'%><h4>
		<% end %>
  		<% end %>
  		<% end %>
	</div>
	</div>
	<% end %>

